<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/mobile.css">
</head>
<body>
    <section class="text-header">
        <h1>Call It In</h1>
    </section>
    
    <section class="button-content">
        <a href="../templates/doctors-note.html"><img src="../static/images/1.png" alt="img1"></a>
        <a href="../templates/broken-cars.html"><img src="../static/images/2.png" alt="img2"></a>
        <a href="../templates/excuses.html"><img src="../static/images/3.png" alt="img3"></a>
    </section>
</body>
</html>