* {
    margin:0;
    padding:0;
}

h1 {
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px #8c8c8c;
}

label {
    font-size: 20px;
}

li {
    list-style-type: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
}

img {
    height: 120px;
    width: auto;
    margin: 10px;
    box-shadow: 4px 4px 1px 2px #e3e3e3;
}

header {
    padding: 30px 0px 10px 0px;
    background-color:#2a9d8f;
    border-bottom: 20px solid #264653;
}

main {
    margin: 3% 15%;
    margin-bottom: 100px;
}

footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #2a9d8f;
    padding: 10px 0px;
}

.button-content, .text-header, header {
    display: flex; 
    justify-content: center;
}

.button-content {
    margin-top: 100px;
    margin-bottom: 50px;
}

.fa-home:before {
    font-size: 70px;
    background-color: #264653;
    color: white;
    padding: 10px 20px;
}

.submit-btn-div {
    display: flex;
    justify-content: center;
    width: 100%;
}

.checklist-excuses {
    margin-top: 10px;
}

.submit-btn {
    padding: 10px 30px;
    border: 3px solid #264653;
    background-color: white;
    color: black;
    border-radius: 3px;
}

ul li:nth-child(odd) {
    background: #ebebeb;
}

ul li:hover {
    background: #dedede;
}

.close {
    right: 25%;
    position: absolute;
    padding: 16px 16px 12px 16px;
    margin-top: -14px;
}

.close:hover {
    background: #9f4040;
    color:white;
}

.form-checklist {
    display:flex;

}

.checklist-form-submit {
    padding: 0px 20px;
}

.car-colors {
    display:flex;
}

input[type="text"] {
    padding: 5px 10px;
    font-size: 20px;
    width: 90%;
}

ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}
  
