<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Call It In | Doctor's Note</title>
    <link rel="stylesheet" href="../../static/css/mobile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Doctor's Note</h1>
    </header>
    <main>
        <form class="doctors-note-form">
            <label for="fname">First Name:</label><br>
            <input type="text" id="fname" name="fname" value=""><br>

            <label for="lname">Last Name:</label><br>
            <input type="text" id="lname" name="lname" value=""><br>
 
            <label for="doctor">Doctor's Name:</label><br>
            <input type="text" id="doctor" name="doctor" value="Dr. "><br>

            <label for="office">Medical Office Name:</label><br>
            <input type="text" id="office" name="office" value=""><br>

            <label for="date">Date:</label><br>
            <input type="text" id="date" name="date" value=""><br>

            <label for="days">Number of Days off work:</label><br>
            <input type="text" id="days" name="days" value=""><br>

            <label for="symtoms">Describe Your "Symptoms":</label><br>
            <input type="text" id="symtoms" name="symtoms" value="My patient is experiencing "><br><br>
            
            <div class="submit-btn-div">
                <input type="submit" value="Submit" class="submit-btn">
            </div>
        </form>

    </main>

    <footer>
        
    </footer>
</body>
<script src="../../static/js/doctors-note.js"></script>
<script src="../../static/snippets/footer.js"></script>
</html>